
.toolTip {
  position: absolute;
  font-size: 10px;
  min-width: auto;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}